
<html>
	<head>
		<title> Blog app</title>
		<link rel ="stylesheet"  type = "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
	<link rel ="stylesheet"  type = "text/css" src="/stylesheets/app.css">
	
	<style>
		body{
			margin-top:5em;
		}
		#delete{
			display:inline;
		}
		
		#elem1{
			width : 150px;
			font-style:italic;
		}
		.ui.top.attached.segment{
			margin-bottom: 1rem;
		}
	i{
		font-size :3em;
			}
	.menu{
		margin-top :7.0rem;
	}
		
		</style>
	</head>
<body>
	<div class= "ui fixed inverted menu ">
		<div class = "ui container">
			<div id ="elem1" class= "header item"><i class="code icon"></i>   Blog Site </div>
			<a href ="/blogs" class ="item">Home </a>
			<a href="/blogs/new" class= "item"> New Post</a>
		</div>
		
	</div>
	 